body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 0.5vh;
}
body::-webkit-scrollbar-track{
    background: #C3BCB9;
}
body::-webkit-scrollbar-thumb {
    background: skyblue;
}

.header {
    z-index: 1;
    text-align: center;
    background-color: skyblue;
    width: 100%;
    height: 100%;
    position: relative;
}
.header h1{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    font-weight: 800;
    line-height: 95px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    max-height: 6vh;
    background-color: #C3BCB9;
    z-index: 1;
    position: fixed;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links a:hover {
    color: #ededed;
}

.logo {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 48px;
}

.codeboxout {
    width: 80%;
    max-width: 900px;
    height: 55%;

    border-radius: 10px;
    background-color: #C3BCB9;
    position: relative;
    margin: 25vh auto;
}

.codebox {
    height: 100%;
    width: 100%;
    margin-top: 15px;
    background-color: #4D4445;
    position: absolute;
}

.codebox p{
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.25vh;
    line-height: 3.5vh;
    color: white;
    align-content: center;
}

.codebox a {
    text-decoration: none;
    color: skyblue;
}

.orange {
    color: orange;
}

.green {
    color: #4ea24e;
}

.resume {
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 100%;
    color: #4D4445;
    font-size: 1.5vh;
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

.line4 {
    width: 100%;
    height: 1px;
    margin-top: 10px;
    background-color: #C3BCB9;
}

.resume h2 {
    font-size: 2.5vh;
    color: #4D4445;
    text-decoration: none;
}

.resume p {
    font-family: 'Open Sans', sans-serif;
}
.resume ul {
    font-family: 'Open Sans', sans-serif;
}
.resume dt {
    font-family: 'Open Sans', sans-serif;
}

.resumeIn {
    margin: 0 auto;
    width: 70%;
}

#projects {
    background-color: #eeeeee;
    width: 100%;
    display: flex;
    justify-content: center;
}

.table {
    width: 60%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
}

.card {
    text-align: center;
    font-family: 'Roboto', sans-serif;


    height: 500px;
    width: 375px;
    max-width: 90%;
    margin: 5vh auto;

    cursor: pointer;
    position: relative;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.card p {
    text-decoration: underline;
    margin: 5%;
    color: #4D4445;
    font-size: 240%;
}

.card h3 {
    margin-top: -10px;
}

.card img {
    width: 215px;
    height: 215px;
    border-radius: 100%;
}

.technique-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.technique {
    text-transform: uppercase;

    padding: 1.5%;

    font-size: 85%;
    width: 35%;

    height: 20%;
    line-height: 20%;

    text-align: center;

    border: 3px solid #4D4445;
    border-radius: 15px;
    color: #4D4445;
}

.technique span {
    display: inline-block;
    vertical-align: center;
    line-height: normal;
}

.card figure {
    margin: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;

    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    border: 5px solid #888888;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #888888;
    transition: 0.15s ease-in-out;
}

.card .front {
    background-color: #C3BCB9;
}

.card .back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #C3BCB9;
    transform: rotateY(180deg);
}

.card-blurb {
    width: 80%;
    line-height: 130%;
    font-size: 120%;
    font-family: 'Open Sans', sans-serif;
}

.card-blurb p {
    font-size: 150%;
    line-height: 120%;
    text-decoration: underline;
}

.card-blurb ul {
    width: fit-content;
    padding: 5px;
    margin-top: 0;
    text-align: left;
}

.card.flip {
    transform: rotateY(180deg);
}

figure:hover {
    transform: scale(1.05);
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
    transition: all 0.3s ease;
}

.burger {
    margin-left: 25%;
    display: none;
    cursor: pointer;
}

footer {
    height: 10vh;
    background-color: skyblue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2.5vh;
}

footer a {
    color: white;
    font-size: 2vh;
    text-decoration: none;
    margin: 0 5px;
}
footer a:hover {
    font-size: 2vh;
}

@media screen and (min-width: 1440px){
    .resumeIn {
        width: 50%;
    }
}

@media screen and (max-width: 1440px) {
    .table {
        width: 90%;
    }
}

@media screen and (max-width: 812px) {

    .header h1{
        font-size: 32px;
        font-weight: 800;
        line-height: 34px;
        position: absolute;
    }

    .nav-links {
        border-radius: 25px 0 0 25px;
        position: absolute;
        right: 0;
        height: 40vh;
        width: 30%;
        opacity: 0.95;
        top: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #C3BCB9;
        transition: transform 0.5s ease-in;
        transform: translateX(100%);
    }

    .burger {
        display: block;
    }

    .table {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 414px) {
    body {
        overflow-x: hidden;
    }
    .logo {
        font-size: 22px;
    }

    .codeboxout {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }

    .card {
        width: 90%;
        height: 425px;
        padding-bottom: 25px;
    }
}

@media screen and (min-width: 768px) {
    .codebox p {
        font-size: 1.5vh;
    }
}

.nav-active {
    transform: translateX(0);
}

.toggle .line1 {
    transform: rotate(-90deg) translate(-8px, -15px);
}
.toggle .line2 {
    transform: rotate(-90deg) translate(0px, -7px);
}
.toggle .line3 {
    transform: rotate(-90deg) translate(8px, 1px);
}
/* add "close" to burger button */
.toggle .close {
    opacity: 1;
}