body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    z-index: 0;
    background: #161722;
}

body {
    background-image: url("images/mountains-purple.png");
    height: 35vh;
    background-repeat: no-repeat;
}

*:focus {
    outline: none;
}

.main-container {
    margin: 0 auto;
    width: 65%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

h1 {
    margin-top: 10%;
    margin-bottom: 3%;
    font-weight: 700;

    color: #f6f6f6;
}

.row {
    min-height: 25px;
    height: 10%;

    width: 100%;
}

#box {
    width: 75%;
    height: 4vh;

    transform: translateX(2vh);

    font-size: 2vh;
    text-indent: 10px;

    border-radius: 10px;
    background-color: #393A4C;
    color: #CACDE8;

    margin-right: 0;

    vertical-align: middle;
}

::placeholder {
    color: #a6a5a5;
}

button {
    text-align: center;
    vertical-align: middle;


    border-radius: 10px;
    height: 4vh;

    cursor: pointer;
    transition: 0.1s ease-in-out;
}

#addButton {
    transform: translateX(-3vh);
    font-weight: 700;


    width: 4vh;
    box-shadow: 2px 2px #666;
}

#addButton:hover {
    background-color: #c3c1c1;
}

#addButton:active {
    background-color: #c3c1c1;
    box-shadow: 0 0 #666;
    transform: translateX(-3vh) translateY(2px);
}


footer {
    width: 100%;
    margin: 0;

    padding: 5px 0;

    background: #393A4C;
    display: flex;
    justify-content: space-around;

    border-radius: 5px;

    align-items: center;
}

footer button {
    color: #f6f6f6;
    font-size: 75%;
    background: none;
    border: none;
}

footer button:hover {
    color: cornflowerblue;
}

#clearButton {
    height: 3vh;

    padding: 0 5px;
    margin: 0;
    border: 2px solid transparent;

    transition: 0.1s ease-in-out;
}

#clearButton:hover {
    border: 2px solid cornflowerblue;
    border-radius: 20px;
}

.tasks {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;

    width: 65%;
}

ul {

    list-style: none;
    text-align: left;

    padding: 0;

    width: 100%;
    font-size: 125%;
}

li {
    border-radius: 5px;
    border-right: 1px solid cornflowerblue;
    border-bottom: 2px solid cornflowerblue;
    background-color: #393A4C;
    color: #CACDE8;

    margin: 2px;
    padding: 10px;
    display: flex;


    text-align: center;
    align-items: center;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;

    height: 25px;
    width: 25px;

    background: linear-gradient(45deg, #57DDFF, #C058F3);
    opacity: 75%;
    border-radius: 100%;

    margin-right: 15px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .1s ease-in-out;
}

input[type="checkbox"]:checked {
    background: darkgray;
}

input[type="checkbox"]:checked:after {

    font-weight: 900;
    content: "\2714";
    font-size: 120%;
    color: #393A4C;
}

#noTask {
    color: #CACDE8;
    border-radius: 5px;
    border-bottom: 2px solid cornflowerblue;
    background-color: #393A4C;

    width: 100%;

    margin-bottom: 0;
    padding: 10px 0;

    font-size: 120%;
    font-weight: 400;
    font-style: italic;
}

.toggle_cross {
    color: darkgray;
    text-decoration: line-through;
    transition: 0.1s ease-in-out;
}


@media screen and (max-width: 1024px){

    body {
        background-image: url("images/mountains-purple2.png");
    }

    .main-container {
        width: 80%;
    }

    .tasks {
        width: 80%;
    }

    footer {
        font-size: 110%;
    }
}

@media screen and (max-width: 414px){

    .main-container {
        width: 100%;
    }

    #box {
        width: 80%;
        height: 30px;

        font-size: 105%;
    }

    #noTask {
        font-size:100%;
    }

    .tasks {
        width: 85%;
    }

    footer {
        height: 30px;
    }
}